/* Strona */
* {
  box-sizing: border-box;
  font-family: monospace;
  list-style: none;
  text-decoration: none;
}
section {
  width:80%;
  margin: auto;
}
body {
  background-color: #09243b;
}
/* Nagłówek */
header {
  background-color: rgb(189, 198, 222);
  box-shadow: 3px 3px 3px black;
  text-align: center;
  background-image: url("imgs/tlo.png");
}
/* Aside/Nawigacja */
aside ul {
  padding:0;
  display: grid;
  grid-template-columns: 19.5% 29% 29% 19.5%;
  grid-template-areas: "l sl sp p";
  column-gap: 1%;
}
aside li {
  text-align: center;
}
aside a {
  font-size: 3.2vw;
  color:#192837;
  display: block;
  border: 1px solid black;
  background-image: url("imgs/tlo.png");
  background-size: 100%;
}
a:hover {
  transition: 0.15s;
  box-shadow: 5px 5px 5px black;
  transform: scale(1.1);
}
.l {
  grid-area: l;
}
.sl {
  grid-area: sl;
}
.sp {
  grid-area: sp;
}
.p {
  grid-area: p;
}
.logo {
  width:20%;
}
/* Main wygląd */
main {
  text-align: center;
  color:#192837;
  background-color: rgb(189, 198, 222);
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
}
/* Main zawartość */
main {
  line-height: 1em;
  font-size: 2em;
  background-image: url("imgs/tlo.png");
  background-size: 100%;
  padding:0.5em;
}
main a { 
width: 70%;
margin: auto;
margin-top: 0.3em;
background-color: rgba(0, 0, 0, 0.3);
}
main h3 {
  text-align: center;
}
.kodd {
  text-align: center;
  display: flex;
  flex-direction: column;
}
div span {
  flex-basis: 50%;
  text-align: center;
}
.kod {
  border:2px solid purple;
  margin:auto;
}.kod:hover {
  transition: 0.1s;
  transform: scale(1.6)
}
main div {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
/*
footer {
  color:#192837;
  width:100%;
  margin-top: 0.9em;
  background-color: rgb(189, 198, 222);
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  font-size: 1.8em;
  position: absolute;
  bottom: 0;
}
