* {
  box-sizing: border-box;
  font-family: monospace;
  text-shadow: 0.4px 0.4px black;
}
section {
  width:80%;
  margin: auto;
}
body {
  text-align: center;
  margin: auto;
  background-color: #192837;
}
header {
  background-color: rgb(189, 198, 222);
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  text-align: center;
}
main {
  color:#192837;
  background-color: rgb(189, 198, 222);
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 3px 3px 3px black;
}
span {
  text-align: center;
  margin: auto;
  display: flex;
}
aside ul {
  display: grid;
  grid-template-columns: 18% 28% 28% 18%;
  grid-template-areas: "l sl sp p";
  column-gap: 1%;
}
aside li {
  background-color: rgb(189, 198, 222);
  border: 1px solid black;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 1px 1px 1px black;
}
footer {
  color:#192837;
  width:100%;
  margin-top: 0.9em;
  background-color: rgb(189, 198, 222);
  border: 1px solid black;
  box-shadow: 3px 3px 3px black;
  font-size: 1.8em;
  position: absolute;
  bottom: 0;
}
aside a {
  width: 100%;
  font-size: 3.2vw;
  color: #0040ff;
  display: block;
  border: 1px solid black;
  border-radius: 6px;
  list-style: none;
  text-decoration: none;
}
a:hover {
  background-color: #9d01e5;
  color: #0040ff;
  transition: 0.3s;
  box-shadow: 5px 5px 5px black;
}
.l {
  grid-area: l;
}
.sl {
  grid-area: sl;
}
.sp {
  grid-area: sp;
}
.p {
  grid-area: p;
}
.logo {
  width:20%;
}
main {
  
  text-align: left;
  padding-left:0.8em;
  line-height: 1em;
  font-size: 2em;
}
main h3 {
  text-align: center;
}
